header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    border-bottom: 1px solid rgb(183, 212, 245);
}
.main-logo {
    display: flex;
    align-items: center;
}
.logo {
    
    
}
.main-nav {
}
.main-nav-list {
    font-size: 14px;
    
    list-style: none;
    display: flex;
    gap:2.4rem;
    text-decoration: none;

}
.main-nav-link {
    color:black;
    font-weight: 700;
   text-transform: uppercase;
   
   text-decoration:none;
   letter-spacing: 0.3rem;
   font-family: 'Rubik' ,sans-serif;
 

}
.main-nav-link:hover{
    color:#006241;
}

.location {
    display: flex;
    justify-content: space-between;
    gap:2.4rem;
    margin-right: 5rem;
}
.location-nav{
    display: flex;
    gap:1.2rem;
    align-items: center;
    text-decoration: none;

}
.location-icon{
    color:black;
    font-size: 2.6rem;
    
}
.location-icon:hover{
    color:#006241;
}
.location-store{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color:black;
    letter-spacing: 0.1rem;
}
.location-store:hover{
color:#006241;
}
.btn-sign {
    padding: 0.7rem 1.6rem;
    border:1px solid black;
    border-radius:5rem;
    background:none;
    color:black;
      line-height: 1.2;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: all 1s;
    

}
.btn-sign:hover{
 
   background-color: rgb(241, 235, 235);
}
.btn-join {
    padding: 0.7rem 1.6rem;
    border:1px solid black;
    border-radius:5rem;
    background-color:black;
    color:#fff;
      line-height: 1.2;
    font-size: 14px;
    font-weight: 600;
    transition: all 1s;
}
.btn-join:hover{
 
    background-color: rgb(85, 84, 84);
}

/* *****HEADER **** */


main{
    margin-top:3rem;
}
.join-section {
    /* max-width: 136rem; */
    display: grid;
     height:26.5rem;
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr ;
    margin:0;
    overflow: hidden; 
}
.heading-content {
    background-color: #006241;
    color:#fff;
    text-align: center;
}
.heading {
    color:#fff;
    font-size: 2.4rem;

    margin-top:4rem;
}
.content {
    font-size: 1.9rem;
    margin-top:5rem;
}
.join-now {
    margin-top:3rem;

        padding: 0.7rem 1.6rem;
        border:1px solid #fff;
        border-radius:5rem;
        background-color:#006241;
        color:#fff;
          line-height: 1.2;
        font-size: 14px;
        font-weight: 600;
        transition: all 1s;
    }
    .join-now:hover{
        background-color: #256d55;
    }

.heading-image {
    background-image: url(/img/137-76029.webp);
    background-color: rgb(20, 49, 20);
    background-position: center;
    background-size: cover;
   height: 27em;
   width:100%;
}
.blocks{
   margin:0 auto;
   max-width: 140rem;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap:3rem;
}
.img-block{
    width: 100%;
    margin-top:3rem;
    
}
.all-content{
    text-align: center;
    background-color:#1e3932;
    
    


}
.img-heading{
    font-size: 5rem;
    color:#fff;
    font-weight: 600;
    letter-spacing: 0.3rem;
    padding: 3rem;
    line-height: 1.2;
    padding-top:1rem;
    padding-left:5rem;
    
}
.img-content {
    font-size: 2.4rem;
    color:#fff;
    /* letter-spacing: 0.2rem;/ */
    padding-bottom: 4rem;
    font-family: 'Montserrat'sans-serif;
    line-height: 1.6;
}

.order {
    
        padding: 0.7rem 1.6rem;
        border:1px solid #fff;
        border-radius:5rem;
        background-color:#1e3932;
         margin-bottom: 5rem;
        color:#fff;
          line-height: 1.2;
        font-size: 14px;
        font-weight: 600;
        transition: all 1s;
    }
    .order:hover{
 
        background-color: rgb(85, 84, 84);
    }
   .box-1{
       padding-bottom: 2.2rem;
   }
   .blocks{
       margin-bottom: 10rem;
   }
   .img-block{
       background-color: #d4e9e2;
       
   }
   .box-3 {
       border:0;
     background-color: #d4e9e2;
   }
   .box-3 .img-heading{
       margin:0;
   }